@import'./inc/colors';

$accTeal:$teal600;
$accOrange:$orange700;

.dark{
  /** Background colors */
  .bgPrimary{background-color:$grey16}
  .bgSecondary{background-color:$grey900}
  .bgMedium{background-color: $grey19}
  .bgAccent{background-color: $grey900}
  .bgTranspatent{background-color: transparent !important}
  .br{border: 1px solid}

  /** Foreground colors*/
  .tPrimary{color: $grey200 !important}
  .tSecondary{color:$grey500}
  .tMedium{color:$grey400}

  .table-view{
    thead {th {border-right: 1px solid $grey20}}
    tbody {tr {background-color: $grey19}
      .days{background-color: $grey900;border-color: $grey31;}
      td,th {border: 1px solid $grey20;color: $grey400}}}
  .btn-con{
    button{border-color: $grey31}
    button:hover{background-color: $grey800}}
}

.light{
  
  /** Background colors */
  .bgPrimary{background-color:$grey300}
  .bgSecondary{background-color:$grey100}
  .bgMedium{background-color: $grey200}

  /** Foreground colors*/
  .tPrimary{color: $grey900}
  .tSecondary{color:$grey800}
  .tMedium{color:$grey31}

  .table-view{
    thead {th {border-right: 1px solid #202020}}
    tbody {tr {background-color: white}
      td,th {border: 1px solid $grey300}
    }
  }
  
}

.teal{
  .tAccent{color: $accTeal}
  .bgAccent{background-color: $accTeal}
  .brAccent{border-color: $accTeal !important}
  .router-link-exact-active{
    background-color: #313131;
    border-color: $accTeal !important;
  }
  .table-view{
    thead {th:last-child {border-right-color: $accTeal}
      th:first-child {border-left: 1px solid $accTeal}
    }
  }
  .btn-con{.active{border-color: $accTeal;color: $accTeal}}
}
.orange{
  .tAccent{color: $accOrange}
  .bgAccent{background-color: $accOrange}
  .brAccent{border-color: $accOrange !important}
  .router-link-exact-active{
    background-color: #313131;
    border-color:  $accOrange !important;
  }
  .table-view{
    thead {th:last-child {border-right-color: $accOrange}
      th:first-child {border-left: 1px solid $accOrange}
    }
  }
}